# Tell lombok this is our root directory. Can then create lombok.config files in subdirectories with different settings.
config.stopBubbling = true

# Add @lombok.Generated annotations to all generated nodes where possible; useful for JaCoCo
# https://reflectoring.io/jacoco/
lombok.addLombokGeneratedAnnotation = true
